<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.janitri.vitaltracker">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/ic_menu_info_details"
        android:roundIcon="@android:drawable/ic_menu_info_details"
        android:label="Vitals Tracker"
        android:supportsRtl="true"
        android:theme="@style/Theme.VitalsTracker">

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
